*.iml
.gradle
/gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
local.properties

knot-android-library-debug/build\.gradle

knot-android-library-debug/knot-android-library-debug\.aar
